body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  position:absolute;
  left:60px;
  top:100px;
  width:320px;
  height:506px;
}
#u117 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u118 {
  position:absolute;
  left:60px;
  top:60px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u120 {
  position:absolute;
  left:190px;
  top:120px;
  width:60px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u121 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:164px;
  top:183px;
  width:113px;
  height:20px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u124 {
  position:absolute;
  left:87px;
  top:220px;
  width:268px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:80px;
  top:369px;
  width:280px;
  height:144px;
}
#u127 {
  position:absolute;
  left:2px;
  top:64px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u128 {
  position:absolute;
  left:96px;
  top:382px;
  width:248px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u129 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u130 {
  position:absolute;
  left:96px;
  top:432px;
  width:248px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u132 {
  position:absolute;
  left:172px;
  top:255px;
  width:96px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u133 {
  position:absolute;
  left:2px;
  top:39px;
  width:92px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:197px;
  top:482px;
  width:47px;
  height:22px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:172px;
  top:255px;
  width:96px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  position:absolute;
  left:96px;
  top:432px;
  width:248px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:326px;
  top:68px;
  width:51px;
  height:23px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u141 {
  position:absolute;
  left:332px;
  top:59px;
  width:18px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u142 {
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  white-space:nowrap;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u143 {
  position:absolute;
  left:352px;
  top:69px;
  width:20px;
  height:20px;
}
#u144 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u145 {
  position:absolute;
  left:358px;
  top:75px;
  width:8px;
  height:8px;
}
#u146 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:197px;
  top:473px;
  width:47px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
